{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
	<script src="{% static 'js/simpleCart.min.js' %}"> </script>

	{% block headcss %}{% endblock %}
	{% block style %}{% endblock %}
	{% block headjs %}{% endblock %}	
</head>
<body>
	{% include "header.html" %}
	<div class="content">
	    {% block body %}{% endblock %}
	</div>
	{% include "footer.html" %}

	{% block footjs %}{% endblock %}
	{% block footjs_inline %}{% endblock %}
</body>
</html>