{% extends 'layout.html' %}
{% load staticfiles %}

{% block headjs%}
<script type="text/javascript">
	$(document).ready(function(){
		$('#loginpage').addClass('active');
	});
</script>
{% endblock %}

{% block body %}
<!-- register -->
	<div class="main-1">
		<div class="container">
			<div class="register">
		  	  <form> 
				 <div class="register-top-grid">
					<h3>个人信息</h3>
					 <div class="wow fadeInLeft" data-wow-delay="0.4s">
						<span>姓名<label>*</label></span>
						<input type="text"> 
					 </div>
					 <div class="wow fadeInRight" data-wow-delay="0.4s">
						<span>身份证号<label>*</label></span>
						<input type="text"> 
					 </div>
					 <div class="wow fadeInRight" data-wow-delay="0.4s">
						 <span>移动电话<label>*</label></span>
						 <input type="text"> 
					 </div>
					 <div class="clearfix"> </div>
					   <a class="news-letter" href="#">
						 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>接收简讯推送</label>
					   </a>
					 </div>
				     <div class="register-bottom-grid">
						    <h3>密码设置</h3>
							 <div class="wow fadeInLeft" data-wow-delay="0.4s">
								<span>输入密码<label>*</label></span>
								<input type="password">
							 </div>
							 <div class="wow fadeInRight" data-wow-delay="0.4s">
								<span>确认密码<label>*</label></span>
								<input type="password">
							 </div>
					 </div>
				</form>
				<div class="clearfix"> </div>
				<div class="register-but">
				   <form>
					   <input type="submit" value="submit">
					   <div class="clearfix"> </div>
				   </form>
				</div>
		   </div>
		 </div>
	</div>

<!-- register -->	

    {{ block.super }}
{% endblock %}